@keyframes tasditle {
    from{
        opacity: 0;
        transform: translateY(-80px)
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}
@keyframes asd {
    from{
        opacity: 0;
        transform: translateY(-50px)
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}
.title{
    animation: tasditle 0.85s;
}
.title-1{
    font-size: 25px;
    animation: asd 1.5s;
}